This ensemble model is our final and best prediction on AICrowd. It gave a F1-score of 0.901. The model uses five models trained on a 5-fold cross validation of the dataset. The ensemble model uses a simple voting rule where it only predicts road if all the five models predicted road for a given patch.

In [1]:
import numpy as np
import pandas as pd

In [ ]:
# filepaths to the five models' predictions on the test set
X1 = '/content/drive/MyDrive/ml/m1_pred.csv'
X2 = '/content/drive/MyDrive/ml/m2_pred.csv'
X3 = '/content/drive/MyDrive/ml/m3_pred.csv'
X4 = '/content/drive/MyDrive/ml/m4_pred.csv'
X5 = '/content/drive/MyDrive/ml/m5_pred.csv'

In [ ]:
# reading the models' prediction into five dataframes

df1 = pd.read_csv(X1)
df1 = df1.set_index(['id'])
df1 = df1.rename({'prediction':'p1'},axis=1)

df2 = pd.read_csv(X2)
df2 = df2.set_index(['id'])
df2 = df2.rename({'prediction':'p2'},axis=1)

df3 = pd.read_csv(X3)
df3 = df3.set_index(['id'])
df3 = df3.rename({'prediction':'p3'},axis=1)

df4 = pd.read_csv(X4)
df4 = df4.set_index(['id'])
df4 = df4.rename({'prediction':'p4'},axis=1)

df5 = pd.read_csv(X5)
df5 = df5.set_index(['id'])
df5 = df5.rename({'prediction':'p5'},axis=1)

In [ ]:
# dataframe containing the prediction of all models for each patch
df = pd.concat([df1,df2,df3,df4,df5], axis=1)

In [ ]:
# inspecting the dataframe to ensure correct loading
df.head()

          p1  p2  p3  p4  p5
id
001_0_0    0   0   0   0   0
001_0_16   1   1   1   1   1
001_0_32   1   1   1   1   1
001_0_48   1   1   1   1   1
001_0_64   0   0   0   0   0

In [37]:
# generating predictions, predicting road if all models predict road
df['prediction'] = df.apply(lambda x: 1 if np.sum(x)>4 else 0, axis=1)

In [38]:
# extracting only the prediction column
df = df['prediction']

In [40]:
# writing predctions to csv
df.to_csv('predictions.csv')